.sidebar{
    float: left;
}
.jumbotron{
    padding: 6px;
}
img{
    float: right;
}
#image{
    float: left;
}
.border{
    float: left;
    border: 2px lightblue;
    background-color: wheat;
    border-style: hidden;
    width: inherit;
}
.border2{
    float: left;
    border: 2px;
    background-color: lightpink;
    border-style: hidden;
    width: inherit;
}
